.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 25px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 25px;
}